# managed by kai-edge bootstrap
# update config.env in this repo and rerun bootstrap to change these values

KAI_CORE_BASE_URL="__KAI_CORE_BASE_URL__"
KAI_RECORD_SECONDS="__KAI_RECORD_SECONDS__"
KAI_AUDIO_SAMPLE_RATE="__KAI_AUDIO_SAMPLE_RATE__"
KAI_HTTP_TIMEOUT_SECONDS="__KAI_HTTP_TIMEOUT_SECONDS__"
KAI_RECORD_DEVICE="__KAI_RECORD_DEVICE__"
KAI_PLAYBACK_DEVICE="__KAI_PLAYBACK_DEVICE__"
KAI_TRIGGER_MODE="__KAI_TRIGGER_MODE__"
KAI_TRIGGER_SOCKET_PATH="__KAI_TRIGGER_SOCKET_PATH__"
KAI_VAD_AGGRESSIVENESS="__KAI_VAD_AGGRESSIVENESS__"
KAI_VAD_FRAME_MS="__KAI_VAD_FRAME_MS__"
KAI_VAD_PRE_ROLL_MS="__KAI_VAD_PRE_ROLL_MS__"
KAI_VAD_MIN_SPEECH_MS="__KAI_VAD_MIN_SPEECH_MS__"
KAI_VAD_TRAILING_SILENCE_MS="__KAI_VAD_TRAILING_SILENCE_MS__"
KAI_VAD_MAX_UTTERANCE_MS="__KAI_VAD_MAX_UTTERANCE_MS__"
KAI_VAD_COOLDOWN_MS="__KAI_VAD_COOLDOWN_MS__"
KAI_VAD_ENERGY_THRESHOLD="__KAI_VAD_ENERGY_THRESHOLD__"
